.ck.ck-cardconnection-list {
	max-height: 300px;
	width: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	overscroll-behavior: contain;
	& > .ck-list__item {
		overflow: hidden;
		flex-shrink: 0;
	}
}

.ck.ck-cardconnection-list-item {
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: inline-block;
	white-space: normal !important;
}

.ck.ck-cardconnection-button {
	white-space: normal !important;
}

.ck.ck-cardconnection-button > span {
	white-space: normal !important;
	text-align: justify;
	text-justify: inter-word;
}
